{%extends 'base.html' %}

{%block main %}
<!--h1 class="view-head" id="property-head">View Property</h1-->

{%include 'flash_messages.html' %}

<ul>
    <div id="item-details">
        <div><li><img id="img-view" src="{{url_for('get_image', filename=prop['photo'])}}"></li></div>
        <div id="info">
        <li><h1>{{prop['title']}}</h1></li>
        <div class="horizontal">
        <li class="price-shape">${{prop['price']}}</li>
        <li class="price-shape">{{prop['propertyType']}}</li>
        </div>
        <li>{{prop['desc']}}</li>
        <div class="horizontal">
        <i class="fa fa-bed"></i>
        <li>{{prop['bedroom']}} Bedrooms</li>
        <i class="fa fa-bath"></i>
        <li>{{prop['bathroom']}} Bathrooms</li>
        </div>
        <div class="horizontal">
        <i class="fa fa-map-marker"></i>
        <li>{{prop['location']}}</li>
        </div>

        <button id="email">Email Realtor</button>
        </div>
    </div>
{% endblock %}